<h1 class="p-3 mx-5">Welcome to Nutritionest!</h1>

  <div class="d-flex flex-wrap justify-content-center">
  
    <p class="fs-4 p-3 mx-5">Our web application is designed to help you make informed decisions about the foods you eat. With the help of the Nutritionix API, we provide detailed nutritional information for thousands of different food items.</p>
    <p class="fs-4 p-3 mx-5">To use Nutritionest, simply enter a search term for the food you're interested in. Our application will show you a list of 20 different food items that match your search. From there, you can click on any of the items to see detailed nutritional information, such as the amount of fat, protein, and fiber in a 100g serving.</p>
    <p class="fs-4 p-3 mx-5">But that's not all! With Nutritionest, you can also create your own profile and save lists of your favorite food items. This makes it easy to reference the nutritional information for the foods you eat regularly.</p>
    <p class="fs-4 p-3 mx-5">We're passionate about nutrition and technology, and we created Nutritionest to help others make informed decisions about what they eat.</p>
    <p class="fs-4 p-3 mx-5">Thank you for using Nutritionest!</p>
  
  </div>