{{!-- Intro image + search bar --}}

<section class="toptest">
    <form>
    <div class="d-grid gap-2 col-9 mx-auto">
      <a href="/search"><button class="btn-white rounded-4" type="button"><h5>🔍&nbsp;&nbsp;Search for products</h5></button></a>
    </div>
    </form>
</section>

{{!-- About nutritionist --}}

<section class="home-articles">
        
  <div class="d-flex flex-wrap justify-content-center">
    <div class="gap-2 col-md-4 col-sm-12 p-3">
        <h1>Healthy eating.</h1>
        <h1>Simplified.</h1>
        <img src="/images/index/bowl-with-veggies-only.png" alt="Food database" class="home-articles-img">
        <p class="fs-4 pe-3 me-3">Our database contains millions of food items' detailed nutritional information, such as calories, fat, carbs and protein.</p>
        <p class="fs-4 pe-3 me-3">Simply search and we’ll calculate everything correctly for you.</p>
    </div>

    <div class="gap-2 col-md-4 col-sm-12 p-3">
        <h1>Meal plans</h1>
        <h1>made easy.</h1>
        <img src="/images/index/bowl-with-falling-food.png" alt="Food database" class="home-articles-img">
        <p class="fs-4 pe-3 me-3">The nutrients of each food are calculated for 100 grams.</p>
        <p class="fs-4 pe-3 me-3">This makes it easy to compare the nutrients for different foods.</p>
    </div>

    <div class="gap-2 col-md-4 col-sm-12 p-3">
          <h1>Healthier living?</h1>
          <h1>Done.</h1>
        <img src="/images/index/bowl-with-chicken.png" alt="Food database" class="home-articles-img">
        <p class="fs-4 pe-3 me-3">Easily add foods to lists to organize food items into groups.</p>
        <p class="fs-4 pe-3 me-3">Manage, edit, and delete lists to compare nutritients and manage the specifics of your meals and diet.</p>
    </div>
</div>
</section>



{{!-- Sign up button --}}

<section class="home-signup">
    <form>
    <div class="d-grid gap-2 col-6 mx-auto">
      <a href="/auth/signup"><button class="btn-green rounded-4" type="button">Sign up now</button></a>
    </div>
    </form>
</section>