

{{#each items}}
    <form action="/search/nutrients" method="POST">
    <input type="hidden" name="item" value="{{this.food_name}}">
    <a href="#" onclick="this.parentNode.submit()">{{this.food_name}}</a>
    </form>
    <br>
{{/each}}

{{#each nutrients}}
    <p>{{this}}</p>
{{/each}}


{{!-- {{#each item}}
    <div>
        <a href="">{{item.food_name}}</a>
    </div>
{{/each}} --}}
