<form action="/search/foodItem" method="GET">
    <label for="item">Search for food</label>
    <input id="foodItem" type="text" name="item">
    <button type="submit">Start Search</button>
</form>

<br>

<form action="/search/nutrients" method="POST">
    <label for="item">Search for nutrients of specific food</label>
    <input id="foodItem" type="text" name="item">
    <button type="submit">Start Search</button>
</form>