* {
  /* padding: 10px; */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
}
 
a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em;
  
}

.error-message{
    background-color: #82B981;
    color: white;
    font-size: 14px;
    text-align: center;
    height: 50px;
    text-transform: none;
    padding: 17px;
    margin: 0px 0px 30px 0px;
}

.signup-container > div > h1 {
  font-size: 35px;
  color: #2D2D2D;
}

.signup-container > div > h5 {
  font-size: 15px;
  color: #2D2D2D;
}

/*  */
 
form {
  margin: 30px auto;
  width: 380px;
}
 
form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
 
form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}
 
form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}
 
form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}
 
.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
 
ul {
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}
 
ul li {
  line-height: 20px;
}
 
#to-right {
  padding: 1em;
  float: right;
}
 
#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}
 
#form h2 {
  display: flex;
  justify-content: center;
}
 
#to-left {
  float: left;
}
 
#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}
 
#logout-form {
  display: inline;
}
 
#logout-form button {
  width: 120px;
}


/* Footer */

.footer-image {
  background-image: url("../images/Footer/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 40px;
  margin-top: 5px;

}

/* Header */

.bg-green {
  background-color:#dee2cf;
}

.header-image {
  background-image: url("../images/Footer/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 45px;
}

.topbox {
  height: 120px;
}

.header-links {
  font-size: 18px;
  line-height: 35px;
  text-decoration: none;
  color: #2d2d2d;
}

/* Home */

.home-articles {
  background-color: #dee2cf;
  padding: 20px;
  margin: 0;
}

.home-articles-img {
  width: 175px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-white {
  background-color: white;
  color: #2d2d2d;
  border: 2px solid #048A38;
  height: 60px;
  text-transform: none;
  padding: 17px;
}

/* Sign up and Log in CSS */

.margin-top{
  margin: 10px 0px 50px 0px
}

.form-height {
  height: 50px;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.btn-green {
  background-color: #048A38;
  color: white;
  border: 1px solid #048A38;
  height: 50px;
  text-transform: none;
}

.btn-green > h5 {
  padding: 4px;
}

.btn-green:hover {
  background-color: #048A38;
  color: white;
  border: 1px solid #048A38;
}

.orText {
  font-size: 12px;
}

.strike {
  text-decoration: line-through;
}

.btn-lightgreen {
  background-color: #82B981;
  color: white;
  border: 1px solid #82B981;
  height: 50px;
  text-transform: none;
}

.btn-lightgreen:hover {
  background-color: #82B981;
  color: white;
  border: 1px solid #82B981;
}

/* Profile */

.pill-green {
  background-color: white;
  color: black;
  border: 1px solid #048A38;
  text-transform: uppercase;
  font-size: 12px;
  width: fit-content;
  padding: 5px 10px;
  margin-right: 10px;
}

.pill-lightgreen {
  background-color: #82B981;
  color: white;
  border: 1px solid #82B981;
  text-transform: uppercase;
  font-size: 12px;
  width: fit-content;
  padding: 5px 10px;
  margin-right: 10px;
}

.select-sizer {
  height: 125px;
}