* {
  padding: 0.1px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
}
 
a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em;
  color: inherit !important;
  text-decoration: none !important;
}

.error-message{
    background-color: #82B981;
    color: white;
    font-size: 14px;
    text-align: center;
    height: 50px;
    text-transform: none;
    padding: 17px;
    margin: 0px 0px 30px 0px;
}

.signup-container > div > h1 {
  font-size: 35px;
  color: #2D2D2D;
}

.signup-container > div > h5 {
  font-size: 15px;
  color: #2D2D2D;
}

/*  */
 
form {
  margin: 30px auto;
  width: 380px;
}
 
form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
 
form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

/* Header */

.bg-green {
  background-color:#dee2cf;
}

.header-image {
  background-image: url("../images/Footer/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 45px;
}

.topbox {
  height: 120px;
}

.header-links {
  font-size: 18px;
  line-height: 35px;
  text-decoration: none;
  color: #2d2d2d;
}

/* Home */

.home-search {
  background: linear-gradient(white, #DEE2CF);
  padding: 50px 0px 50px 0px;
}

.home-signup {
  background: linear-gradient(#DEE2CF, white);
  padding: 50px 0px;
}

.home-articles {
  background-color: #dee2cf;
  padding: 20px;
  margin: 0;
}

.home-articles-img {
  width: 175px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-white {
  background-color: white;
  color: #2d2d2d;
  border: 2px solid #048A38;
  height: 60px;
  text-transform: none;
  padding: 17px;
}

/* Footer */

.footer-image {
  background-image: url("../images/Footer/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 40px;
  margin-top: 5px;
}

/* Sign up and Log in CSS */

.margin-top{
  margin: 10px 0px 50px 0px
}

.form-height {
  height: 50px;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.btn-green {
  background-color: #048A38;
  color: white;
  border: 1px solid #048A38;
  height: 50px;
  text-transform: none;
}

.btn-green > h5 {
  padding: 4px;
}

.btn-green:hover {
  background-color: #048A38;
  color: white;
  border: 1px solid #048A38;
}

.orText {
  font-size: 12px;
}

.strike {
  text-decoration: line-through;
}

.btn-lightgreen {
  background-color: #82B981;
  color: white;
  border: 1px solid #82B981;
  text-transform: none;
}

.btn-lightgreen:hover {
  background-color: #82B981;
  color: white;
  border: 1px solid #82B981;
}

/* Profile */

.formWidth {
  width: fit-content;
}

.btn-green-s {
  background-color: #048A38;
  color: white;
  border: 1px solid #048A38;
  height: 40px;
  padding: 0px 10px;
  text-transform: none;
}

.btn-lightgreen-s {
  background-color: #82B981;
  color: white;
  border: 1px solid #82B981;
  height: 40px;
  padding: 0px 10px;
  text-transform: none;
}

.pill-green {
  background-color: white;
  color: black;
  border: 1px solid #048A38;
  text-transform: uppercase;
  font-size: 12px;
  width: fit-content;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pill-lightgreen {
  background-color: #82B981;
  color: white;
  border: 1px solid #82B981;
  text-transform: uppercase;
  font-size: 12px;
  width: fit-content;
  padding: 5px 10px;
  margin-right: 10px;
}

.select-sizer {
  height: 125px;
}

/* Search page */

.foodItem {
  background-color: white;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  text-align: left;
  font-size: 15px;
  height: 45px;
  padding: 5px 15px;
  position: relative;
}

.foodItem:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.listNumber {
    background-color: #DEE2CF;
    color: black;
    font-size: 12px;
    padding: 9px 9px;
    margin-right: 10px;
}

.listNumber > span {
  margin: 3px;
}

.listArrow {
  position: absolute;
  right: 25px;
}

/* Details */

.foodName {
  text-transform: capitalize;
}

.nutrients-table {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.nutrients-table-bold {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-collapse: collapse;
  text-align: start;
  width: 250px;
  height: 25px;
}

.nutrient-facts {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-weight: 300;
}

.nutrients-table-bold-left {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-left: 1px solid black;
  border-collapse: collapse;
  width: 150px;
  height: 25px;
}

.nutrient-name {
  border-top: 1px solid black;
  border-collapse: collapse;
  text-align: start;
  width: 250px;
  height: 25px;
}

.nutrient-value {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-collapse: collapse;
  width: 150px;
  height: 25px;
}